* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  list-style-type: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flex {
  display: flex;
}

.medicine-header {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
  margin-bottom: 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 84.8%;
}

.medicine-header-container {
  column-gap: 50px;
}

.medicine-header-container > div {
  row-gap: 10px;
  flex-direction: column;
}

.patient-address-container {
  column-gap: 15px;
  max-width: 300px;
}

.patient-gender-age-container {
  column-gap: 20px;
  flex-direction: column;
}

.patinet-details-container > ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.content .profile span,
.patient-address-container span,
.patient-gender-age-container span,
.patinet-details-container span {
  font-weight: bold;
}

.medicine-container,
.medicine-left,
.medicine-row,
.medicine-presc-details-row,
.day-period,
.day-cells-container {
  display: flex;
}
.border {
  border: 1px solid black;
}
.medicine-left {
  flex-direction: row;
}

.patient-address-container a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.medicine-row {
  display: flex;
}

/*wrapper {
  /*display: flex;
  flex-wrap: wrap;
  width: 1024px;
}*/

.medicine-row input {
  border: 1px solid #000;
}

.medicine-date-container {
  margin-left: 300px;
}
.medicine-date {
  border: 1px solid #000;
}

.medicine-container,
.medicine-presc-details-column {
  flex-direction: column;
}

.medicine-container {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: fit-content;
}

.searched-patients-dropdown {
  width: 100px;
}
.searched-patients-dropdown a {
  background-color: #fff;
  margin-top: 1px;
}

.marks {
  display: flex;
  margin-bottom: 10px;
  column-gap: 5px;
}

.marks * {
  font-weight: bold;
}
.medicine-regime-container {
  display: flex;
  margin-left: 30px;
}

.date-picker-container {
  position: sticky;
  left: 0;
  margin-left: 70px;
}

.arrows-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.arrows-container > * {
  cursor: pointer;
}

.medicine-regime-container textarea {
  width: 179px;
  height: 1.5em;
  resize: none;
  overflow: hidden;
  margin-bottom: 10px;
}

.trash-ico-container {
  color: #f2744d;
  margin-right: 10px;
  cursor: pointer;
}

.trash-ico-container:hover {
  color: red;
}

.medicine-name {
  width: 179px;
  overflow: hidden;
  margin-right: 3px;
  margin-left: 10px;
}

.fill-all-button {
  height: 30px;
  width: 50px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 9px;
  background-color: #fff !important;
  color: #f2744d !important;
  border: 1px solid #f2744d !important;
}

.fill-all-button:hover {
  background-color: #f2744d !important;
  color: #fff !important;
}

.medicine-row-container {
  /*position: relative;*/
  min-width: 500px;
}

.medicine-method-column {
  top: -30px;
  position: absolute;
}

.auto-resize-textarea {
  width: 100%;
  min-height: 2em;
  resize: none;
  overflow: hidden;
  height: 65px;
}

.medicine-date,
.day-period,
.day-cell {
  text-align: center;
}

.medicine-date,
.day-cells-container {
  width: 120px;
}
.day-cells-container {
  margin-right: -10px;
}
.medicine-presc-details-row {
  position: relative;
  margin-bottom: -10px;
  /*margin-top:-30px;*/
}

.medicine-presc-details-row-first-div {
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
}

.plus,
button[type="button"],
.save-button,
.edit-button {
  padding: 1px 3px;
  border-radius: 4px;
  background-color: #fff;
  color: #f2744d;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  border: 1px solid #f2744d;
}

.save-button:hover,
.edit-button:hover {
  color: #fff;
  background-color: #f2744d;
}

form {
  flex-direction: column;
}

.add-button {
  border-radius: 0.5px;
  width: 64px;
  height: 32px;
  margin-top: 5px;
  margin-left: 30px;
}

.add-button:hover {
  color: #fff !important;
  background-color: #f2744d !important;
}

.save-button {
  margin-left: 20px;

  height: 32px;
}

.danger {
  background-color: #da2029 !important;
}

.plus {
  position: absolute;
  left: 240px;
}

.minus {
  position: absolute;
  left: 226px;
  top: 20px;
}

.medicine-presc-details-column {
  /* margin-left: -50px;*/
}
.day-cell {
  display: flex;
  flex-wrap: wrap;
}

.day-cell,
.day-cell-input-label {
  height: 20px;
  min-width: 30px;
}

.day-period > div {
  width: 30px;
  border: 1px solid #000;
  border-bottom: none;
  border-left: none;
}

.day-period > div:nth-child(4) {
  border-right: none;
}

.day-cell-input-label {
  border: 1px solid #000;
}
.day-cell-input {
  visibility: hidden;
}

.day-cell-time-input {
  width: 100%;
  font-size: 11px;
}

.day-cell-dose-input {
  width: 30px;
  height: 20px;
  transition: width 0.3s;
  transition: height 0.3s;
  resize: none;
  overflow: hidden;
}

.day-cell-dose-input:focus {
  position: absolute;
  width: 100px;
  height: 100px;
  transition: width 0.3s;
  transition: height 0.3s;
  z-index: 10;
  overflow-y: scroll;
}

.medicine-date-picker {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}

.medicine-date-picker > h3 {
  margin-bottom: 10px;
}
.medicine-date-picker label {
  margin-right: 10px;
}

/*Home page begin*/
.home-page-container {
  margin-left: 25%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-size: 12px;
}

.sidebar {
  width: 400px;
  height: 100vh;
  background-color: #add8e6;
  position: fixed;
  padding: 10px 0;
  border-right: 1px solid #000;
  z-index: 10;
}
.sidebar .search-container {
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.sidebar .search-container > div {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
.sidebar .search-button {
  position: absolute;
  top: 15px;
}

.sidebar .search-container input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 300px;
}

.searched-patients-dropdown > a {
  display: block;
  width: 300px;
}
.sidebar a {
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  margin: 0.5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.sidebar a:hover {
  background-color: #e0e0e0;
}
.content {
  margin-left: 410px;
  padding: 10px;
}

.content * {
  border-radius: 5px;
}
.profile {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
}
.profile img {
  vertical-align: middle;
  margin-right: 5px;
}
.documents {
  border: 1px solid #ccc;
  min-width: 40%;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
}

.document-item {
  padding: 5px 0;
  margin: 5px 0;
}
.document-item.selected {
  background-color: #add8e6;
  border-left: 4px solid #90ee90;
  padding-left: 5px;
}
.comment-section {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}
.comment-section h3 {
  margin: 0 0 5px 0;
  font-size: 14px;
}
.comment-section input {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.buttons {
  display: flex;
  column-gap: 5px;
  margin-left: 20px;
  margin-bottom: 30px;
}
.btn {
  display: inline-block;
  padding: 2px 5px;
  margin-right: 5px;
  border: 1px solid #ccc;
  background-color: #add8e6;
  cursor: pointer;
  font-size: 12px;
  border-radius: 3px;
}
.btn:hover {
  background-color: #87ceeb;
}
.btn.red {
  color: red;
  background-color: #add8e6;
}

.diagram {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border: 1px solid #ccc;
}

.scroll-both {
  width: 940px;
  height: 150px;
  overflow: auto;
  margin-top: -48px;
  margin-left: -135px;
}

.radio-input {
  margin-left: 10px !important;
}

.patient-sort {
  cursor: pointer;
}
/*Home page end*/
.type-of-plan-container {
  margin-left: 20px;
}

/*Modal begin*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(211, 211, 211, 0.9); /* Light gray with some opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Modal box */
.modal {
  background: #fff;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  max-width: 90%;
}

.modal h2 {
  margin: 0 0 10px;
  font-size: 20px;
}

.modal p {
  color: #f44336;
  margin-bottom: 25px;
  font-size: 14px;
}

.buttons-modal {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttons-modal button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #f97362 !important;
  color: white !important;
}

.delete-btn {
  background-color: transparent;
  color: #f97362;
  border: 1px solid #f97362;
}

.delete-btn:hover {
  background-color: #f97362;
  color: white;
}

.cancel-btn:hover {
  opacity: 0.9;
}
/*Modal end*/
.blink_me {
  animation: blinker 2s linear infinite;
}

.local-patients-search-input {
  width: 278px;
  height: 32px;
  border-radius: 0;
  border: 1px solid #cccccc;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.venue {
  cursor: pointer;
  margin-right: 5px;
}

.underline {
  text-decoration: underline;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
