* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  list-style-type: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flex {
  display: flex;
}

.medicine-header {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
  margin-bottom: 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: fit-content;
}

.medicine-header-container {
  column-gap: 50px;
}

.medicine-header-container > div {
  row-gap: 10px;
  flex-direction: column;
}

.patient-address-container {
  column-gap: 15px;
  max-width: 300px;
}

.patient-gender-age-container {
  column-gap: 20px;
}

.patinet-details-container > ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.content .profile span, .patient-address-container span, .patient-gender-age-container span, .patinet-details-container span {
  font-weight: bold;
}

.medicine-container,
.medicine-left,
.medicine-row,
.medicine-presc-details-row,
.day-period,
.day-cells-container {
  display: flex;
}
.border {
  border: 1px solid black;
}
.medicine-left {
  width: 150px;
}

.patient-address-container a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

/*.medicine-group-name {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-top: 10px;
  margin-right: 15px;
}*/

/*.medicine-group-name > select {
  width: 25px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  border: none;
}*/
.medicine-row {
  /*flex-wrap: wrap;*/
  gap: 50px;
  width: fit-content;
}

.medicine-row input {
  border: 1px solid #ccc;
}

.medicine-left > div {
  margin-right: 50px;
}

.medicine-date-container {
  margin-left: 288px;
}
.medicine-date {
  border: 1px solid #ccc;
}

.medicine-container,
.medicine-presc-details-column {
  flex-direction: column;
}

.medicine-container {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: fit-content;
}

.searched-patients-dropdown {
  width: 100px;
}
.searched-patients-dropdown a {
  background-color: #fff;
  margin-top: 1px;
}

.medicine-name {
  width: 179px;
  overflow: hidden;
  margin-right: 10px;
}

.medicine-date,
.day-period,
.day-cell {
  text-align: center;
}

.medicine-date,
.day-cells-container {
  width: 241px;
}
.medicine-presc-details-row {
  position: relative;
}

.plus,
button[type="button"],.save-button {
  padding: 1px 3px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.danger {
  background-color: #da2029 !important;
}

.plus {
  position: absolute;
  left: 190px;
}

.medicine-presc-details-column {
  margin-left: -50px;
}
.day-cell {
  display: flex;
}

.day-cell,
.day-cell-input-label {
  height: 20px;
  width: 60px;
}

.day-period > div {
  width: 60px;
  border: 1px solid #ccc;
  border-bottom: none;
  border-left: none;
}

.day-period > div:nth-child(4) {
  border-right: none;
}

.day-cell-input-label {
  border: 1px solid #ccc;
}
.day-cell-input {
  visibility: hidden;
}

.day-cell-time-input {
  width: 20px;
  /*visibility: hidden;*/
}

.day-cell-dose-input {
  width: 20px;
}

/*Home page begin*/
.home-page-container {
  margin-left: 25%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-size: 12px;
}
.sidebar {
  width: 400px;
  height: 100vh;
  background-color: #add8e6;
  position: fixed;
  padding: 10px 0;
  border-right: 1px solid #ccc;
  z-index: 10;
}
.sidebar .search-container {
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.sidebar .search-container > div {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
.sidebar .search-button {
  position: absolute;
  top: 15px;
}

.sidebar .search-container input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 300px;
}

.searched-patients-dropdown > a {
  display: block;
  width: 300px;
}
.sidebar a {
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  margin: 0.5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.sidebar a:hover {
  background-color: #e0e0e0;
}
.content {
  margin-left: 410px;
  padding: 10px;
}

.content * {
  border-radius: 5px;
}
.profile {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
}
.profile img {
  vertical-align: middle;
  margin-right: 5px;
}
.documents {
  border: 1px solid #ccc;
  min-width: 40%;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
}

/*.document-item.selected:hover {
  background-color: #add8e6;
  border-left: 4px solid #90ee90;
}*/
.document-item {
  padding: 5px 0;
  margin: 5px 0;
}
.document-item.selected {
  background-color: #add8e6;
  border-left: 4px solid #90ee90;
  padding-left: 5px;
}
.comment-section {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}
.comment-section h3 {
  margin: 0 0 5px 0;
  font-size: 14px;
}
.comment-section input {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.buttons {
  margin-left: 20px;
  margin-bottom: 30px;
}
.btn {
  display: inline-block;
  padding: 2px 5px;
  margin-right: 5px;
  border: 1px solid #ccc;
  background-color: #add8e6; /* Light blue theme */
  cursor: pointer;
  font-size: 12px;
  border-radius: 3px;
}
.btn:hover {
  background-color: #87ceeb;
}
.btn.red {
  color: red;
  background-color: #add8e6;
}

.save-button {
  margin-left: 20px;
}

.diagram {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border: 1px solid #ccc;
}

.document-preview-container {
}

.scroll-both {
  width: 940px;
  height: 150px;
  overflow: auto;
  margin-top: -48px;
  margin-left: -135px;
}

/*Home page end*/


